{# created by Symfony upon Auth controller creation php bin/console make:auth karim.saad ( karim.saad@iubh.de ) #}
{% extends 'base.html.twig' %}

{% block title %} Login {% endblock %}



{% block body %}
<link rel="stylesheet" href="css/login.css">
<div class="content">
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-4">

<br/>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Du bist bereits eingeloggt {{ app.user.username }}, <a href="{{ path('app_logout') }}">Hier klicken um Dich auszuloggen. </a>
        </div>
    {% else %}

    <div class="mb-3">
    <span class="logo-custom">
        <img class="logo" src="hinthub_logo.png" alt="HintHub">
    </span>

    
  
    <label for="inputEmail">{{ "email" | trans ( {}, 'login')}}</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" maxlength="255" class="form-control" autocomplete="email" required autofocus>
    </div>
    <div class="mb-3">
    <label for="inputPassword">{{ "password" | trans ( {}, 'login')}}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" maxlength="255" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <br/>
    <button class="btn btn-success" type="submit">
        {{ "loginBtn" | trans ( {}, 'login')}}
    </button>
</form>
</div>
{% endif %}
<div class="col-lg-3"></div>
</div>
</div>
{% endblock %}
