{# Dashboard Controller #}
{# https://github.com/EasyCorp/EasyAdminBundle/blob/master/doc/dashboards.rst #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Home
{% endblock %}

{% block content_title %}
    Home
{% endblock %}

{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Some Action</a> #}
{% endblock %}

{% block main %}
    <hr/>

    {# Header für alle#}
    <h1>Willkommen auf Ihrem Dashboard für HintHub!</h1>

    {# Dashboard für Admin#}
     {% if isAdmin %}
    
    <h2>Alle Fehlermeldungen</h2>

    <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src=
                "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link
	                rel="stylesheet"
	                href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
                <link
	                rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	                type="text/css"/>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

            <style>
	            body {
	                text-align: left;
	                color: green;
	                }
	
	            
            </style>
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Offen", {{opens}}],
			                ["Wartend", {{waiting}}],
			                ["Geschlossen", {{closed}}],
                            ["Eskaliert", {{escalated}}]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>
 
                <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Anzahl Studenten</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{students}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Tutoren</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{tutors}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Verwaltung</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{verwaltung}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Extern</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{extern}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src=
                "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link
	                rel="stylesheet"
	                href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
                <link
	                rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	                type="text/css"/>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

            <style>
	            body {
	                text-align: left;
	                color: green;
	                }
	
	            
            </style>
            <body>
	            <div id="pie-chart2"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Studenten", {{students}}],
			                ["Tutoren", {{tutors}}],
			                ["Verwaltung", {{verwaltung}}],
                            ["Extern", {{extern}}],
                            
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart2",
	                });
	            </script>
                </div>

        {# Ende Dashbaord Admin und Verwaltung#}

        {# Dashboard für Studenten#}
        {% elseif isStudent %}

         <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src=
                "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link
	                rel="stylesheet"
	                href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
                <link
	                rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	                type="text/css"/>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

            <style>
	            body {
	                text-align: left;
	                color: green;
	                }
	
	            
            </style>
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Offen", {{opens}}],
			                ["Wartend", {{waiting}}],
			                ["Geschlossen", {{closed}}],
                            ["Eskaliert", {{escalated}}]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>
        {# Ende Dashbaord Studenten#}

        {# Dashboard für Tutoren#}
        {% elseif isTutor %}

         <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src=
                "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link
	                rel="stylesheet"
	                href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
                <link
	                rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	                type="text/css"/>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

            <style>
	            body {
	                text-align: left;
	                color: green;
	                }
	
	            
            </style>
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Offen", {{opens}}],
			                ["Wartend", {{waiting}}],
			                ["Geschlossen", {{closed}}],
                            ["Eskaliert", {{escalated}}]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>
        {# Ende Dashbaord Tutoren#}

        {# Dashboard für Extern#}
        {% elseif isExtern %}
        <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Anzahl Module</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{moduls}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl User</h3>
                </div>
                <div class="col-md-6">
                   <h3> {{users}} </h3>
                </div>
            </div>
          
        </div>

         {# Ende Dashbaord Extern#}

        {# Dashboard für Verwaltung#}
       
     {% elseif isVerwaltung %}
    
    <h2>Alle Fehlermeldungen</h2>

    <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src=
                "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link
	                rel="stylesheet"
	                href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
                <link
	                rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	                type="text/css"/>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

            <style>
	            body {
	                text-align: left;
	                color: green;
	                }
	
	            
            </style>
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Offen", {{opens}}],
			                ["Wartend", {{waiting}}],
			                ["Geschlossen", {{closed}}],
                            ["Eskaliert", {{escalated}}]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>

                <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Anzahl Studenten</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{students}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Tutoren</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{tutors}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Verwaltung</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{verwaltung}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Extern</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{extern}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script src=
                "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
                <link
	                rel="stylesheet"
	                href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
                <link
	                rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	                type="text/css"/>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
                </script>

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
                </script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
                </script>

            <style>
	            body {
	                text-align: left;
	                color: green;
	                }
	
	            
            </style>
            <body>
	            <div id="pie-chart2"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Studenten", {{students}}],
			                ["Tutoren", {{tutors}}],
			                ["Verwaltung", {{verwaltung}}],
                            ["Extern", {{extern}}],
                            
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart2",
	                });
	            </script>
                </div>

        {# Ende Dashbaord Verwaltung#}
       



   
    
    {% endif %}
    

    {# <table class="datagrid">
        <thead>
            <tr>
                <td>Some Column</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
            {% for data in my_own_data %}
                <tr>
                    <td>{{ data.someColumn }}</td>
                    <td>{{ data.anotherColumn }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
{% endblock %}