{#
   Renders the Dashboard Controller

   @author stefan.baltschun  (stefan.baltschun@iubh.de)
   @author philipp.kalscheid (philipp.kalscheid@iubh.de)
#}

{# https://github.com/EasyCorp/EasyAdminBundle/blob/master/doc/dashboards.rst #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Home
{% endblock %}

{% block content_title %}
    Home
{% endblock %}

{% block page_actions %}
    {# <a class="btn btn-primary" href="...">Some Action</a> #}
{% endblock %}

{% block main %}
    <hr/>

    {# Header für alle#}
    <h1>Willkommen auf Ihrem Dashboard für HintHub!</h1>

   
   <script  src = "js/d3.min.js"        integrity="sha384-1EOYqz4UgZkewWm70NbT1JBUXSQpOIS2AaJy6/evZH+lXOrt9ITSJbFctNeyBoIJ" crossorigin="anonymous"></script>
   <script  src = "js/Chart.min.js"     integrity="sha384-ZM+rodiQtbUiXZvx6Y/8SIhm7iTC7s/ygv0QVwq+xwe6mIvbynzp3hQNKMXLGNSy" crossorigin="anonymous"></script>
   <script  src = "js/billboard.min.js" integrity="sha384-F7wG5tv/5AvfYnE0Ye9lCEEAfqaWC4IHQvIlgBprTmq+geO9OoZAQi7qwR9NUxjJ" crossorigin="anonymous"></script>

   <link rel="stylesheet" href="css/billboard.min.css" integrity="sha384-23mJuV9A3758zO4jp/XdNL2hORSI03+a7Px7iDLKX9pKaiz5T/hIsZ+xsZLU+lDw" crossorigin="anonymous"/>

   <style>
	    body {
	      text-align: left;
	      color: green;
	   }
     </style>

    {# Dashboard für Admin#}
     {% if isAdmin %}
    
    <h2>Alle Fehlermeldungen</h2>

    <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			               [ "Offen",        {{opens}}      ],
			               [ "Wartend",      {{waiting}}    ],
			               [ "Geschlossen",  {{closed}}     ],
                        [ "Eskaliert",    {{escalated}}  ]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>
 
                <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Anzahl Studenten</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{students}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Tutoren</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{tutors}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Verwaltung</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{verwaltung}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Extern</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{extern}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <body>
	            <div id="pie-chart2"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			               [ "Studenten",    {{students}}   ],
			               [ "Tutoren",      {{tutors}}     ],
			               [ "Verwaltung",   {{verwaltung}} ],
                        [ "Extern",       {{extern}}     ],
                            
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart2",
	                });
	            </script>
                </div>

        {# Ende Dashbaord Admin und Verwaltung#}

        {# Dashboard für Studenten#}
        {% elseif isStudent %}

         <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			               [ "Offen",        {{opens}}      ], 
			               [ "Wartend",      {{waiting}}    ],
			               [ "Geschlossen",  {{closed}}     ],
                        [ "Eskaliert",    {{escalated}}  ]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>
        {# Ende Dashbaord Studenten#}

        {# Dashboard für Tutoren#}
        {% elseif isTutor %}

         <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			               [ "Offen",        {{opens}}     ],
			               [ "Wartend",      {{waiting}}   ],
			               [ "Geschlossen",  {{closed}}    ],
                        [ "Eskaliert",    {{escalated}} ]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>
        {# Ende Dashbaord Tutoren#}

        {# Dashboard für Extern#}
        {% elseif isExtern %}
        <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Anzahl Module</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{moduls}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl User</h3>
                </div>
                <div class="col-md-6">
                   <h3> {{users}} </h3>
                </div>
            </div>
          
        </div>

         {# Ende Dashbaord Extern#}

        {# Dashboard für Verwaltung#}
       
     {% elseif isVerwaltung %}
    
    <h2>Alle Fehlermeldungen</h2>

    <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Offene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{opens}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Geschlossene Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{closed}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Wartende Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{waiting}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Eskalierte Fehlermeldungen</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{escalated}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <body>
	            <div id="pie-chart"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                  ["Offen",         {{opens}}      ],
			                  ["Wartend",       {{waiting}}    ],
			                  ["Geschlossen",   {{closed}}     ],
                           ["Eskaliert",     {{escalated}}  ]
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart",
	                });
	            </script>
                </div>

                <div class="container-fluid border">
    <div class="row">
        <div class="col-md-9">
            <div class="row mt-2">
                <div class="col-md-6">
                   <h3>Anzahl Studenten</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{students}}</h3>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Tutoren</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{tutors}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Verwaltung</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{verwaltung}}</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6">
                   <h3>Anzahl Extern</h3>
                </div>
                <div class="col-md-6">
                   <h3>{{extern}}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <body>
	            <div id="pie-chart2"></div>

	            <script>
	                var chart = bb.generate({
		                data: {
		                columns: [
			                ["Studenten",  {{students}}],
			                ["Tutoren",    {{tutors}}],
			                ["Verwaltung", {{verwaltung}}],
                         ["Extern",     {{extern}}],
                            
		                ],
		                type: "pie",
		
		                },
		                donut: {
		                title: "Anzahl gesamt",
		                },
		                bindto: "#pie-chart2",
	                });
	            </script>
                </div>

        {# Ende Dashbaord Verwaltung#}
   
    {% endif %}
    

    {# <table class="datagrid">
        <thead>
            <tr>
                <td>Some Column</td>
                <td>Another Column</td>
            </tr>
        </thead>
        <tbody>
            {% for data in my_own_data %}
                <tr>
                    <td>{{ data.someColumn }}</td>
                    <td>{{ data.anotherColumn }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> #}
{% endblock %}