{% extends '@!EasyAdmin/crud/detail.html.twig' %}

{#
{% block page_actions %}
    <b></b>
{% endblock %}
#}

{#
main was before content_footer_wrapper
#}
{% block main %}
    <style>
        .kommentar_header
        {
            background-color:white;
            color:black;
        }

        .kommentar
        {
            width: 100%;
            height: 120px;
            background-color: #040404d4;
            color: #b9b9b9;
        }

        .kommentar_user_link
        {
            color: red;
            text-decoration: none;
        }

        .kommentar_new 
        {
            
        }

        .kommentar_new_box
        {
            color: green;
            background-color: black;
            width: 100%;
        }


        .description
        {
            width: 50%;
            height: 120px;
            background-color: #040404d4;
            color: #b9b9b9;
        }
    </style>

    <script>
        /*function post (url, data) 
        {
            var q = confirm('Möchten Sie den Kommentar hinzufügen?');
            if ( !q )
            {
                // aborted
                return false;
            }

            var x = fetch(url, { method: "POST", headers: { 'Content-Type': "multipart/form-data; charset=utf-8; boundary=" + Math.random().toString().substr(2) }, body: data } );
            x.then(
                (x1) => {
                    console.log(x1);
                    if ( x1.status == 200 )
                    {
                        window.location += "#kommentare";
                        window.location.reload (true);
                    }
                    return false;
                }
            );
            return false;
        }
        */

        window.doRequest = async function doRequest() 
        {
            var html = document.getElementById('kommentar_new_text').value;
            alert(html);

            const data = {
                "fehlerId": '{{ entity.instance.getId() }}',
                "text":  html.replace(" ", "\t"),
                "token": '{{ csrf_token("addKommentar") }}'
            };

            // var x =  post ( '/kommentar/add', data);
            const rawResponse = await fetch('/kommentar/add', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    //'Content-Type': 'application/x-www-form-urlencoded',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify (data)
            });
            const content = await rawResponse.json();
            if ( rawResponse.status == 200 )
            {
                window.location.href = window.location.href.replace("#kommentare","") + "#kommentare";
                window.location.reload ( true );
            }
        }
    </script>

    <div class="main">
        <div class="description">
            {{ entity.instance.getDescriptionKommentar().getText() | striptags }}
        </div>

        <br/>

        <div class="kommentare" id="kommentare">
        {% for kommentar in entity.instance.getKommentare() | reverse %}
            <div class = "kommentar" id="kommentar_{{ kommentar.getId() }}">
                <div class="kommentar_header">
                    {% 
                        set url = ea_url()
                        .setController('App\\Controller\\Admin\\UserCrudController')
                        .setAction('detail')
                        .setEntityId( kommentar.getEinreicher().getId() )
                    %}

                    <a href="{{url}}" class="kommentar_user_link">{{ kommentar.getEinreicher()}}</a> schrieb am {{ kommentar.getDatumErstellt() | date('d.m.Y')}} um {{ kommentar.getDatumErstellt() | date ('H:i:s') }}:
                </div>

                <div id="text_kommenar">
                    {{ kommentar.getText() | striptags }}
                </div>
            </div>
        {% endfor %}
        </div>
        <br/>
        <div class="kommentar_new">
            <textarea id="kommentar_new_text" class="kommentar_new_box" border="0">test</textarea>
            <button onclick="return window.doRequest();" class="btn btn-success">Kommentieren</button>
        </div>

    </div>
{% endblock %}